/*
!README.MD
!.gitignore
!.config/
.config/*
!.config/alacritty.yml
!.config/wofi/
!.config/waybar/
!.config/hypr/
!.config/wal/
!.config/sway/
!.config/qutebrowser/
!.config/OpenRGB/
!.config/pavucontrol.ini
.config/**/*.log
